<a href="https://colab.research.google.com/github/Visakar28/github1/blob/main/DA_WEEK_4_Hands_On.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import sqlite3

# Create an in-memory SQLite database (temporary storage)
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

In [8]:
# Create Customers Table
cursor.execute('''
CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY,
    Name TEXT,
    City TEXT,
    JoinDate DATE
)''')

# Create Menu Table
cursor.execute('''
CREATE TABLE Menu (
    DishID INTEGER PRIMARY KEY,
    DishName TEXT,
    Category TEXT,
    Price REAL
)''')

# Create Orders Table
cursor.execute('''
CREATE TABLE Orders (
    OrderID INTEGER PRIMARY KEY,
    CustomerID INTEGER,
    DishID INTEGER,
    OrderDate DATE,
    Quantity INTEGER,
    TotalPrice REAL,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
    FOREIGN KEY (DishID) REFERENCES Menu(DishID)
)''')

# Create Employees Table
cursor.execute('''
CREATE TABLE Employees (
    EmployeeID INTEGER PRIMARY KEY,
    Name TEXT,
    Role TEXT,
    Salary REAL
)''')

conn.commit()  # Save changes
print("Tables Created Successfully!")

Tables Created Successfully!

In [9]:
# Insert Customers
customers_data = [
    (1, 'Alice Johnson', 'New York', '2023-01-15'),
    (2, 'Bob Smith', 'Los Angeles', '2023-02-10'),
    (3, 'Charlie Davis', 'Chicago', '2023-03-05'),
    (4, 'Diana White', 'Houston', '2023-04-20'),
    (5, 'Eva Brown', 'Phoenix', '2023-05-11'),
    (6, 'Frank Green', 'Philadelphia', '2023-06-30'),
    (7, 'Grace Hall', 'San Antonio', '2023-07-18'),
    (8, 'Hank Wilson', 'San Diego', '2023-08-22'),
    (9, 'Ivy Martinez', 'Dallas', '2023-09-12'),
    (10, 'Jack Lopez', 'San Jose', '2023-10-25')
]
cursor.executemany("INSERT INTO Customers VALUES (?, ?, ?, ?)", customers_data)

# Insert Menu Items
menu_data = [
    (101, 'Pasta Alfredo', 'Italian', 12.99),
    (102, 'Sushi Roll', 'Japanese', 15.99),
    (103, 'Cheeseburger', 'American', 10.50),
    (104, 'Tandoori Chicken', 'Indian', 14.75),
    (105, 'Tacos', 'Mexican', 9.99),
    (106, 'Ramen', 'Japanese', 13.25),
    (107, 'Steak', 'American', 25.50),
    (108, 'Margherita Pizza', 'Italian', 11.99),
    (109, 'Fried Rice', 'Chinese', 8.99),
    (110, 'Caesar Salad', 'Healthy', 7.99)
]
cursor.executemany("INSERT INTO Menu VALUES (?, ?, ?, ?)", menu_data)

# Insert Orders
orders_data = [
    (1001, 1, 101, '2023-07-10', 2, 25.98),
    (1002, 2, 102, '2023-07-12', 1, 15.99),
    (1003, 3, 103, '2023-08-01', 3, 31.50),
    (1004, 4, 104, '2023-08-15', 1, 14.75),
    (1005, 5, 105, '2023-09-05', 4, 39.96),
    (1006, 6, 106, '2023-09-10', 2, 26.50),
    (1007, 7, 107, '2023-09-25', 1, 25.50),
    (1008, 8, 108, '2023-10-05', 2, 23.98),
    (1009, 9, 109, '2023-10-15', 1, 8.99),
    (1010, 10, 110, '2023-11-01', 1, 7.99)
]
cursor.executemany("INSERT INTO Orders VALUES (?, ?, ?, ?, ?, ?)", orders_data)

# Insert Employees
employees_data = [
    (1, 'David Miller', 'Chef', 4000.00),
    (2, 'Sarah Lee', 'Waiter', 2500.00),
    (3, 'John Carter', 'Manager', 6000.00),
    (4, 'Emily Davis', 'Waiter', 2700.00),
    (5, 'Mark Wilson', 'Bartender', 3200.00),
    (6, 'Laura Brown', 'Chef', 4200.00),
    (7, 'James Clark', 'Dishwasher', 2000.00),
    (8, 'Angela White', 'Cashier', 2800.00),
    (9, 'Brian Scott', 'Waiter', 2600.00),
    (10, 'Olivia Harris', 'Chef', 4500.00)
]
cursor.executemany("INSERT INTO Employees VALUES (?, ?, ?, ?)", employees_data)

conn.commit()
print("Sample Data Inserted Successfully!")

Sample Data Inserted Successfully!

In [10]:
import pandas as pd

# Function to execute and display SQL results
def execute_query(query):
    result = cursor.execute(query).fetchall()
    df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])
    return df

In [11]:
execute_query("SELECT * FROM Customers WHERE City = 'New York';")

   CustomerID           Name      City    JoinDate
0           1  Alice Johnson  New York  2023-01-15

In [12]:
execute_query("SELECT * FROM Orders WHERE TotalPrice > 30;")

   OrderID  CustomerID  DishID   OrderDate  Quantity  TotalPrice
0     1003           3     103  2023-08-01         3       31.50
1     1005           5     105  2023-09-05         4       39.96